# Student Performance Dataset: Exploratory Data Analysis

In this project, we are going to analyze the Student Performance dataset from UCI Machine Learning Repository.

We will try to answer the following questions;

* dsad
* dsa
* dsad

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
mat = pd.read_csv("student-mat.csv", sep=";")

In [5]:
mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
por = pd.read_csv("student-por.csv", sep=";")

In [8]:
por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [10]:
mat.shape

(395, 33)

In [11]:
por.shape

(649, 33)

In [12]:
type(mat)

pandas.core.frame.DataFrame

In [20]:
por.append(mat).head

<bound method NDFrame.head of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
5       GP   M   16       U     LE3       T     4     3  services     other
6       GP   M   16       U     LE3       T     2     2     other     other
7       GP   F   17       U     GT3       A     4     4     other   teacher
8       GP   M   15       U     LE3       A     3     2  services     other
9       GP   M   15       U     GT3       T     3     4     other     other
10      GP   F   15       U     GT3       T     4     4   teacher    health
11      GP   F   15       U     GT3       T     2     1  services     other
12      GP   M   15       U     LE3       T     4     4    health  services
13      GP   M   15       U     GT3       T     4     3   teacher     other
14      GP   M   15       U     GT3       A     2     2     other     other
15      GP   F   16       U     GT3       T     4     4    health     other
16      GP   F   16       U     GT3       T     4     4  services  services
17      GP   F   16       U     GT3       T     3     3     other     other
18      GP   M   17       U     GT3       T     3     2  services  services
19      GP   M   16       U     LE3       T     4     3    health     other
20      GP   M   15       U     GT3       T     4     3   teacher     other
21      GP   M   15       U     GT3       T     4     4    health    health
22      GP   M   16       U     LE3       T     4     2   teacher     other
23      GP   M   16       U     LE3       T     2     2     other     other
24      GP   F   15       R     GT3       T     2     4  services    health
25      GP   F   16       U     GT3       T     2     2  services  services
26      GP   M   15       U     GT3       T     2     2     other     other
27      GP   M   15       U     GT3       T     4     2    health  services
28      GP   M   16       U     LE3       A     3     4  services     other
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
365     MS   M   18       R     GT3       T     1     3   at_home     other
366     MS   M   18       U     LE3       T     4     4   teacher  services
367     MS   F   17       R     GT3       T     1     1     other  services
368     MS   F   18       U     GT3       T     2     3   at_home  services
369     MS   F   18       R     GT3       T     4     4     other   teacher
370     MS   F   19       U     LE3       T     3     2  services  services
371     MS   M   18       R     LE3       T     1     2   at_home  services
372     MS   F   17       U     GT3       T     2     2     other   at_home
373     MS   F   17       R     GT3       T     1     2     other     other
374     MS   F   18       R     LE3       T     4     4     other     other
375     MS   F   18       R     GT3       T     1     1     other     other
376     MS   F   20       U     GT3       T     4     2    health     other
377     MS   F   18       R     LE3       T     4     4   teacher  services
378     MS   F   18       U     GT3       T     3     3     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
380     MS   M   18       U     GT3       T     4     4   teacher   teacher
381     MS   M   18       R     GT3       T     2     1     other     other
382     MS   M   17       U     GT3       T     2     3     other  services
383     MS   M   19       R     GT3       T     1     1     other  services
384     MS   M   18       R     GT3       T     4     2     other     other
385     MS   F   18       R     GT3       T     2     2   at_home     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
388     MS   F   18       U     LE3       T     3     1   teacher  services
389     MS   F   18       U     GT3       T     1     1     other     other
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        4   0  11  11
1    ...      5        3      3     1     1      3        2   9  11  11
2    ...      4        3      2     2     3      3        6  12  13  12
3    ...      3        2      2     1     1      5        0  14  14  14
4    ...      4        3      2     1     2      5        0  11  13  13
5    ...      5        4      2     1     2      5        6  12  12  13
6    ...      4        4      4     1     1      3        0  13  12  13
7    ...      4        1      4     1     1      1        2  10  13  13
8    ...      4        2      2     1     1      1        0  15  16  17
9    ...      5        5      1     1     1      5        0  12  12  13
10   ...      3        3      3     1     2      2        2  14  14  14
11   ...      5        2      2     1     1      4        0  10  12  13
12   ...      4        3      3     1     3      5        0  12  13  12
13   ...      5        4      3     1     2      3        0  12  12  13
14   ...      4        5      2     1     1      3        0  14  14  15
15   ...      4        4      4     1     2      2        6  17  17  17
16   ...      3        2      3     1     2      2       10  13  13  14
17   ...      5        3      2     1     1      4        2  13  14  14
18   ...      5        5      5     2     4      5        2   8   8   7
19   ...      3        1      3     1     3      5        6  12  12  12
20   ...      4        4      1     1     1      1        0  12  13  14
21   ...      5        4      2     1     1      5        0  11  12  12
22   ...      4        5      1     1     3      5        0  12  13  14
23   ...      5        4      4     2     4      5        2  10  10  10
24   ...      4        3      2     1     1      5        2  10  11  10
25   ...      1        2      2     1     3      5        6  10  11  12
26   ...      4        2      2     1     2      5        8  11  12  12
27   ...      2        2      4     2     4      1        0  11  11  11
28   ...      5        3      3     1     1      5        2  12  12  13
29   ...      4        4      5     5     5      5        4  12  11  12
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
365  ...      3        3      4     2     4      3        4  10  10  10
366  ...      4        2      2     2     2      5        0  13  13  13
367  ...      5        2      1     1     2      1        0   7   6   0
368  ...      5        2      3     1     2      4        0  11  10  10
369  ...      3        2      2     4     2      5       10  14  12  11
370  ...      3        2      2     1     1      3        4   7   7   9
371  ...      4        3      3     2     3      3        3  14  12  12
372  ...      3        4      3     1     1      3        8  13  11  11
373  ...      3        5      5     1     3      1       14   6   5   5
374  ...      5        4      4     1     1      1        0  19  18  19
375  ...      4        3      2     1     2      4        2   8   8  10
376  ...      5        4      3     1     1      3        4  15  14  15
377  ...      5        4      3     3     4      2        4   8   9  10
378  ...      4        1      3     1     2      1        0  15  15  15
379  ...      4        5      4     2     3      1       17  10  10  10
380  ...      3        2      4     1     4      2        4  15  14  14
381  ...      4        4      3     1     3      5        5   7   6   7
382  ...      4        4      3     1     1      3        2  11  11  10
383  ...      4        3      2     1     3      5        0   6   5   0
384  ...      5        4      3     4     3      3       14   6   5   5
385  ...      5        3      3     1     3      4        2  10   9  10
386  ...      4        4      3     2     2      5        7   6   5   6
387  ...      5        4      2     1     2      5        0   7   5   0
388  ...      4        3      4     1     1      1        0   7   9   8
389  ...      1        1      1     1     1      5        0   6   5   0
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[1044 rows x 33 columns]>