# Machine Learning using K-Nearest Neighbors

In this project, we will create a k-nearest neighbor classification model that will be trained and tested on Census Income dataset to predict whether or not an individual makes more than 50k per year based on his/her features. The dataset of this project is from the UCI Machine Learning Repository.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Data

In [2]:
df = pd.read_csv("data/income_evaluation.csv")

In [3]:
print(df.shape)
df.head()

(32561, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

## Data Cleaning

In [6]:
df['workclass'].replace({'Never-worked' : 'Unemployed',
                         'Without-pay' : 'Unemployed',
                         'Self-emp-not-inc' : 'Unemployed',
                         'Local-gov' : 'SL-gov',
                         'State-gov' : 'SL-gov',
                         'Self-emp-inc' : 'self-employed'}, inplace=True)

In [7]:
df['marital-status'].replace({'Married-civ-spouse' : 'Married',
                             'Married-spouse-absent' : 'Married',
                             'Married-AF-spouse' : 'Married',
                             'Divorced' : 'Not-Married',
                             'Separated' : 'Not-Married',
                             'Widowed' : 'Not-Married'}, inplace=True)

In [8]:
regions = {
    'Asia' : ['China','Hong','India','Iran','Cambodia','Japan', 'Laos',
              'Philippines' ,'Vietnam' ,'Taiwan', 'Thailand'],
    'Europe' : ['England' ,'France', 'Germany' ,'Greece','Holand-Netherlands','Hungary',
                'Ireland','Italy','Poland','Portugal','Scotland','Yugoslavia'],
    'Latin-South-America' : ['Columbia','Cuba','Dominican-Republic','Ecuador','El-Salvador','Guatemala','Haiti','Honduras',
                             'Mexico','Nicaragua','Outlying-US(Guam-USVI-etc)','Peru',
                             'Jamaica','Trinadad&Tobago'],
    'North-America' : ['Canada','United-States','Puerto-Rico'],
    'Other' : ['South']
}

for key, item in regions.items():
    df['native-country'].replace(item, key, inplace=True)
df.rename(columns={'native-country' : 'region'}, inplace=True)

## Missing Values

In [9]:
for col in df:
    if df[col].dtypes == 'object':
        df[col].replace({'?': pd.NaT}, inplace=True)
df.dropna(how='any', inplace=True)
df.drop(['education-num', 'capital-loss'], axis=1, inplace=True)

In [10]:
df.head()

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,capital-gain,hours-per-week,region,income
0,39,SL-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,40,North-America,<=50K
1,50,Unemployed,83311,Bachelors,Married,Exec-managerial,Husband,White,Male,0,13,North-America,<=50K
2,38,Private,215646,HS-grad,Not-Married,Handlers-cleaners,Not-in-family,White,Male,0,40,North-America,<=50K
3,53,Private,234721,11th,Married,Handlers-cleaners,Husband,Black,Male,0,40,North-America,<=50K
4,28,Private,338409,Bachelors,Married,Prof-specialty,Wife,Black,Female,0,40,Latin-South-America,<=50K

## Exploratory Data Analysis

## Model Building

In [11]:
from sklearn.metrics import confusion_matrix, roc_auc_score, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [12]:
def create_dummies(data, features):
    for i in features:
        dummies = pd.get_dummies(data=data[i], drop_first=True, prefix=i)
        data = pd.concat([data, dummies], axis=1)
        del data[i]
    return data

cat_features = [col for col in df if df[col].dtypes == 'object']

dummies = create_dummies(df, cat_features)

In [13]:
X = dummies.drop('income_>50K', axis=1)
y = dummies['income_>50K']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=777)

In [14]:
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
knn = KNeighborsClassifier()
model = knn.fit(X_train, y_train)

In [16]:
model

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

## Predictions and Evaluations

In [17]:
from sklearn.model_selection import cross_val_score

In [18]:
scores = cross_val_score(estimator=model, X=X_test, y=y_test, cv=10)
scores

array([0.8062249 , 0.81325301, 0.79116466, 0.81726908, 0.81708543,
       0.81105528, 0.8040201 , 0.8281407 , 0.79798995, 0.82713568])

In [19]:
y_pred = model.predict(X_test)

In [20]:
from sklearn.metrics import confusion_matrix, classification_report, f1_score

In [21]:
print(confusion_matrix(y_test, y_pred))

[[6720  757]
 [1027 1450]]

In [22]:
print(f1_score(y_test,y_pred))

0.619128949615713

## Model Optimization

In [23]:
from sklearn.model_selection import GridSearchCV

In [24]:
param = {
    'n_neighbors' : [3, 5, 10, 15, 20],
    'weights' : ['uniform', 'distance'],
    'metric' : ['euclidean', 'manhattan']
}

grid = GridSearchCV(knn, param_grid=param, verbose=1, cv=3, n_jobs=-1)
grid =  grid.fit(X_train, y_train)

Fitting 3 folds for each of 20 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   43.1s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  1.1min finished

In [25]:
grid.best_params_

{'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'uniform'}

In [26]:
grid.best_estimator_

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=None, n_neighbors=15, p=2,
                     weights='uniform')

In [27]:
grid.best_params_

{'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'uniform'}

In [28]:
scores = cross_val_score(estimator=grid.best_estimator_, X=X_test, y=y_test, cv=10)
scores

array([0.82228916, 0.82429719, 0.81124498, 0.82128514, 0.82512563,
       0.8321608 , 0.8281407 , 0.83819095, 0.81105528, 0.82110553])

In [29]:
y_pred = grid.best_estimator_.predict(X_test)

In [30]:
print(confusion_matrix(y_test, y_pred))

[[6791  686]
 [1046 1431]]

In [31]:
print(f1_score(y_test,y_pred))

0.6229865041358293

## Conclusions